<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/game-client.js"></script>
    <title>LeaderBoard</title>
</head>
<body>
    <div id="leaderboardContainer">
        <h2>Leaderboard</h2>
        <table id="leaderboard">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="leaderboardBody">
            </tbody>
        </table>
    </div>
</body>
</html>